/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Footer Styles */
.footer {
    background-color: #172c31;
    color: white;
    padding: 50px 0;
    width: 100%;
    text-align: left;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 20px;
    padding: 0 20px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: underline;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 10px 0;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

/* Social Media Links */
.social-links {
    list-style: none;
    padding: 0;
    display: flex;
}

.social-links li {
    margin: 0 10px;
    padding: 8px;
}

.social-links a {
    color: #ccc;
    text-decoration: none;
    font-size: 20px;
}

.social-links a:hover {
    color: white;
}

/* Footer Bottom */
.footer-bottom {
    background-color: #0a0e10;
    color: #bbb;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    font-size: 14px;
}